/* https://colorhunt.co/palette/144399 */

/*
    Primary - #222831
    Secound - #393e46
    Accent  - #d65a31
    Text    - eeeeee
*/

body{
    font-family: sans-serif;
    background-color: #222831;
    color: #eeeeee;
    display: block;
    margin-top: 20px;
}

nav{
    display: block;
    background-color: #393e46;
    box-shadow: 2px 2px 5px #000000;
    padding-top: 12px;
    padding-bottom: 12px;
}

nav .nav-item:hover{
    background-color: #d65a61;
}

.menu .menu-item:hover{
    background-color: #d65a61;
    text-shadow: 0.5px 0.5px 1px #222831;
    box-shadow: 1px 1px 2px #000000;
}

.nav-container
{
    display: inline-block;
}

.nav-item{
    text-align: center;
    text-decoration: none;
    color: #eeeeee;
    padding: 12px;
    font-size: 1.5em;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 1.2em;
    line-height: 110%;
}

.footer{
    background-color: #393e46;
    box-shadow: 2px 2px 5px #000000;
}

#home-page-main{
    display: flex;
    flex-flow: row;
}

.menu{
    flex: 1;
    order: 2;
    position: sticky;
    width: 30%;
    height: 100%;
    right: 0;
    min-width: 300px;
    bottom: 25%;
    top: 25%;
}

.menu-item{
    text-align: left;
    padding: .85vh;
    font-size: 1.5em;
    color: #eeeeee;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid #393e46;
}

.wrapper{
    flex: 2;
    order: 1;
}

article{
    display: block;
    word-wrap: break-word;
}
@media screen and (max-width: 1000px) {
    #home-page-main{
        display: flex;
        flex-flow: column;
    }
    .menu{
        margin-top: 15px;
        left: 0;
        position: inherit;
        width: 100%;
        order: 1;
    }
    .menu-item{
        text-align: center;
        
        font-size: 2em;
        color: #eeeeee;
        text-decoration: none;
        display: block;
        
    }
    .wrapper{
        order: 2;
    }
}
/* Define minimum font size */
html {
    font-size: 16px;
  }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(18px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 16px;
    }
  }

 #news-main-page{
    margin-top: 20px;
    padding: 5px;
    background-color: #393e46;
}

.news-main-item{
    text-decoration: none;
    color: #eeeeee;
    padding-block: 10px;
    padding-left: 20px;
}
.news-main-item:hover{
    background-color: #d65a61;
    cursor: pointer;
    box-shadow: 2px 2px 5px #000000;
    text-shadow: 0.5px 0.5px 1px #222831;
}

a{
    text-decoration: none;
}