/* Layout is stacked vertically by default (for narrower viewports), so give some breathing room between the sections. */
/* Visual Style */
/* https://colorhunt.co/palette/144399 */
/*
    Primary - #222831
    Secound - #393e46
    Accent  - #d65a31
    Text    - eeeeee
*/
body{
    font-family: sans-serif;
    background-color: #222831;
    color: #eeeeee;
    display: block; 
}
.header{
    background-color: #393e46;
    box-shadow: 2px 2px 5px #000000;
    min-height: 1.5em;
    position: static;
    right: 0;
    padding-left: 0.3em;
}
#header-left{
    float: left;
}
#header-right{
    float: right;
}
.nav-item{
    text-align: center;
    text-decoration: none;
    color: #eeeeee;
    padding: 0.15em;
    margin-right: 0.3em;
    /*margin-top: 10px;
    margin-bottom: 10px;*/
    font-size: 1.5em;
    line-height: 110%;
}
#nav-item:hover{
    background-color: #d65a61;
}
.menu .menu-item:hover{
    background-color: #d65a61;
}
.menu-item{
    text-align: left;
    padding: .55vh;
    /*font-size: max(1em, min(4em, 5.333vw));*/
    /*font-size: 150%;*/
    line-height: 110%;
    font-size: 1.5em;
    color: #eeeeee;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    border-bottom: 2px solid #222831;
}
.menu{
    background-color: #393e46;
    box-shadow: 2px 2px 5px #000000;
}
.menu hr{
    margin: 0px;
}
.container > * {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-size: 1.2em;
    line-height: 110%;
}

.footer{
    background-color: #393e46;
    box-shadow: 2px 2px 5px #000000;
}
/* grid for wider viewports */
@media screen and (min-aspect-ratio: 4/3) and (min-width: 700px) {
    .container > * {
        margin-bottom: 0;
    }
    /* Define the grid */
    .container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-gap: 10px 10px;
        max-width: 75vw;
    }
    /* Place items on the grid */
    .header,
    .footer {
        grid-column: 1 / -1;
    }
    .content {
        grid-column: 2 / 4;
        right: 40px;
        position: static;
        right: 0;
    }
    .menu{
        font-size: 70%;
    }
    html{
        font-size: 3vw;
    }
}

.container {
    font-family: Helvetica, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
}

.container > * {
/*
    background-color: #ccc;
*/     
    padding: .5em;
}
/* Define minimum font size */
html {
    font-size: 16px;
  }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(18px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 18px;
    }
  }
