a.button{
    color: #eeeeee;
    border: none;
    background: none;
    width: 30px;
    height: 100%;
    font-size: 2em;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

a.button:hover{
    background-color: #d65a31;
}

a#forward-button.button{
    float: right;
}
button{
    background: none;
    color: #eeeeee;
    border: none;
    height: 100%;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
button#submit{
    font-size: 2em;
    position: fixed;
    top: 90%;
    width: 100%;
    height: fit-content;
    font-weight: bold;
    margin: 0;
}
button:hover{
    background-color: #d65a31;
}