/* list item */
.list-item{
    text-align: left;
    padding: .85vh;
    font-size: 1.5em;
    color: #eeeeee;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid #393e46;
}
.list-item:hover{
    background-color: #d65a31;
}
.main-item{
    text-decoration: none;
    color: #eeeeee;
    padding-block: 10px;
    padding-left: 20px;
    /* background-color: #393e46;*/
}

.main-item:hover{
    background-color: #d65a31;
    cursor: pointer;
    box-shadow: 2px 2px 5px #000000;
    text-shadow: 0.5px 0.5px 1px #222831;
}