a.button{
    color: #eeeeee;
    border: none;
    background: none;
    width: 30px;
    height: 100%;
    font-size: 2em;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

a.button:hover{
    background-color: #d65a31;
}

a#forward-button.button{
    float: right;
}
button{
    background: none;
    color: #eeeeee;
    border: none;
    height: 100%;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    border-color: #fff;
    border-width: 10px 10px 10px 10px;
}
button#submit{
    font-size: 2em;
    position: fixed;
    top: 90%;
    width: 70%;
    height: fit-content;
    font-weight: bold;
    margin: 0;
    right: 0;
}
button#preview{
    font-size: 2em;
    position: fixed;
    top: 90%;
    width: 30%;
    left: 0;
    height: fit-content;
    font-weight: bold;
    margin: 0;
}
button:hover{
    background-color: #d65a31;
}

input.ribbon-button{
    border: 1px solid #eee;
    font-size: 1.25em;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    min-width: 40px;
    background: none;
    color: #eee;
}