.news-main-item{
    text-decoration: none;
    color: #eeeeee;
    padding-block: 10px;
    padding-left: 20px;
}
.news-main-item:hover{
    background-color: #d65a61;
    cursor: pointer;
    box-shadow: 2px 2px 5px #000000;
    text-shadow: 0.5px 0.5px 1px #222831;
}